doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <!-- Importing Google fonts -->
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        <!-- Importing materialize.css -->
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Eat Your Greens - Tomato Timer | Oh, 404!
    body
        include /header.pug
        h1 Oh, 404!
        <!-- Importing js for materialize css -->
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")