//- header.pug
nav(id="nav")
    .nav-wrapper(class="container")
        a(href="/" class="brand logo") Tomato Timer
        ul#nav-mobile.right
            li#settingsBtn 
                a(href="") Settings
            li
                a(href="") login / signup
