html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        <!-- Importing Google fonts -->
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        <!-- Importing materialize.css -->
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap")
        link(rel="stylesheet", href="../../style.css")
        title Eat Your Greens - Tomato Timer
    body
        include /header.pug
        <div id="main">
            <div class="main-ui-container">
                <ul id="selections">
                    <li id="pomodoro" class="active">Pomodoro</li>
                    <li id="shortBreak">Short Break</li>
                    <li id="longBreak">Long Break</li>
                </ul>
                <div id="timer" class="center">

                </div>
                <div class="ui-btn center">
                    <button id="start" class="btn white">Start</button>
                    <button id="stop" class="btn white">Stop</button>
                </div>
            </div>
        </div>
        <!-- Importing js for materialize css -->
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(type="module", src="../../index2.js")